@import "../../../../styles/mixins/mixins";

// Theme
@include create-module('common-components-input-field') {

  text-align: left;

  input[type="text"] {
    width: 100%;
    font-size: 20px;
    padding: 5px;
    box-sizing: border-box;
  }
}

// Layout
@include create-module('common-components-input-field') {
  display: flex;
  flex-direction: column;
  width: 100%;
}
