@import "../../../../styles/mixins/mixins";

// Layout
@include create-module('map-view-components-address-calculator') {
  display: flex;
  justify-content: flex-start;
  margin: 20px;
  > * {
    margin-right: 10px;
  }
}