@import "../../../../styles/mixins/mixins";

// Theme
@include create-module('map-view-components-address-locator-list') {

  position: absolute;
  width: 100%;
  z-index: 1;

  &__item {
    text-align: left;
  }

  &__link {
    border: 0;
    text-align: left;
    background: #f7f7f7;
    color: #000;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: 0;
    cursor: pointer;
    &:hover,
    &:active {
      background: #ececec;
    }

  }
}
// Layout
@include create-module('map-view-components-address-locator-list') {
  list-style: none;
  padding: 0;
  margin: 0;

  &__link {
    height: 45px;
    line-height: 45px;
    width: 100%;
  }

}
