@import "../../../../styles/mixins/mixins";

// Theme
@include create-module('common-components-header') {
  &__container {
    background: #333;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
  }

  &__header {
    color: #fff;
    text-align: center;
    font-size: 1.3em;
  }
}

// Layout
@include create-module('common-components-header') {
  $container-height: 40px;
  &__container {
    height: $container-height;
    line-height: $container-height;
  }

  &__header {
    margin: 0;
  }
}



